<button type='button' {{on 'click' this.getRandNumber}}>
  Get random number
</button>

{{#if this.getNumberTask.isRunning}}
  <p>loading ....</p>
{{else}}
  <h3>{{this.getNumberTask.last.value}}</h3>
{{/if}}
<i>{{if this.getNumberTask.last.isError "oops!"}}</i>
<button type='button' {{on 'click' this.handleCancel}}>Cancel</button>